{% extends "base.html.twig" %}

{% block title %}
	{{ parent() }}
	fiche
{% endblock %}
{% block contenu %}

{% if form.etat is defined %}     
    {% if form.etat == true %}       
        <h1 class="h3 mb-3 font-weight-normal">Suppression réussie</h1>       
    {% else %}         
    <h1 class="alert alert-danger" role="alert">Problème d'insertion</h1>     
    {% endif %}         
{% endif %}  

<form  class="form-signin" action="index.php?page=fiche" method="post" enctype="application/x-www-form-urlencoded"></form>
		<div class="table-responsive">
			<table class="table">
				<thead>
					<tr>
						<th scope="col">Nom</th>
						<th scope="col">Prénom</th>
                        <th scope="col">Nomfiche</th>
                        <th scope="col">Fiche</th>
						<th scope="col"></th>
                        <th scope="col"></th>
                        <th scope="col"></th>  
					</tr>
				</thead>
				<tbody>
					{% for f in liste %}

						<tr>
							<td>{{f.nomUtil}}</td>
                            <td>{{f.prenomUtil}}</td>
                            <td>{{f.nom}}</td>
							<td>{{f.libelle}}</td>
							<td>
								<a href="index.php?page=ficheMod&id={{u.id}}">Modifier</a>
							</td>
							<td>
								<a href="index.php?page=fiche&id={{u.id}}">Supprimer </a>
                            </td>
                            <td><input type="checkbox" name="cocher[]" id="cocher[]" value="{{u.id}}" /></td>
						</tr>

					{% endfor %}
				</tbody>
			</table>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit" name="btSupprimer">Supprimer</button></form>
    <br>
        <h1 class="h3 mb-3 font-weight-normal"><a href="index.php?page=ajoutfiche">Ajouter une fiche</a></h1>	

{% endblock %}
